.nav {
  position: absolute;
  /*background-color: rgb(199, 199, 199);*/
  z-index: 1;
  margin-top: 50px;
}

.Image {
  position: absolute;
  z-index: -1;
}

.Heading {
  h1 {
    font-size: 150px;
    letter-spacing: 8px;
    font-family: "montserrat", sans-serif;
    color: white;
    text-transform: uppercase;
  }
  margin-top: 40%;
  position: absolute;
}

.arrange {
  padding-top: 4%;
}

.nav-link {
  font-size: 1.3em;
}

.nav-item a:link {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "montserrat", sans-serif;
  font-weight: 100;
  color: white;
  text-align: center;
}

.nav a:visited {
  color: white;
}

.nav .nav-item {
  color: #666;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}

.nav .nav-item:after {
  display: block;
  content: "";
  border-bottom: solid 3px #ffffff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.nav .nav-item:hover:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.Roots {
  margin-top: 50px;
  h1 {
    font-size: 3em;
  }

  .line,
  .line1 {
    width: 800px;
    height: 2px;
    background-color: #fac64c;
  }

  .line {
    margin-bottom: 4%;
  }

  .line1 {
    margin-top: 4%;
  }
}

.back2 {
  margin-top: 300px;
}

.BG2 {
  margin-top: -22%;
}

.BG3 {
  margin-top: -10%;
}

.BG4 {
  margin-top: -10%;
}

.banner {
  margin-bottom: 10%;
  margin-top: 10%;
}

.brochure {
  margin-bottom: 10%;
}

.game {
  margin-bottom: 10%;
}

.card {
  margin-bottom: 10%;
}

.title {
  margin-top: -35%;
  font-size: 5em;
  margin-bottom: 100px;
}

.sidewing {
  position: absolute;
  margin-top: -48%;
}

.Jabirtext {
  h1 {
    font-size: 5em;
    font-weight: 700;
    text-transform: uppercase;
  }

  h2 {
    font-size: 1.6em;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
  }
}

.Jabirge {
  margin-top: 10%;
  margin-left: -15%;
}

.Jabirtext1 {
  margin-top: 10%;
  margin-left: 23%;
  h2 {
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6em;
  }
}

.Alembicgp {
  margin-top: 24%;
}

.Alembic {
  h1 {
    font-size: 5em;
    font-weight: 700;
    text-transform: uppercase;
  }

  h2 {
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6em;
  }
}

.IbnSina {
  h2 {
    margin-left: 20%;
  }
  a {
    font-size: 0.8em;
  }
}

.AlgebraTitle {
  margin-top: 20%;
  padding-bottom: 10%;
  h1 {
    font-size: 5em;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
  }
  h2 {
    color: white;
  }
  z-index: 1;
  .Khaw {
    margin-top: -5%;
  }

  .Jabirtext1 {
    margin-left: 0%;
  }
}

.number {
  position: relative;
  margin-top: -10%;
}

.number1 {
  position: relative;
}

.num1 {
  margin-left: 20%;
}

.num2 {
  margin-top: 20%;
  padding-left: 20%;
}

.num3 {
  margin-top: 30%;
  padding-left: 20%;
}

.num4 {
  margin-left: 20%;
  padding-right: 20%;
}

.num5 {
  padding-bottom: 10%;
}

.num6 {
  margin-left: 18%;
}

.num8 {
  margin-top: 10%;
  margin-left: 5%;
}

.num9 {
  margin-top: 10%;
  margin-left: 5%;
}

.BG5 {
  position: relative;
  margin-top: 30%;
  z-index: -3;
}

.Jabirtext2 {
  padding-bottom: 10%;
  h2 {
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6em;
  }
}

.medicine {
  h1 {
    font-size: 5em;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 10%;
  }
  .Jabirtext2 {
    margin-top: 8%;
  }
}

.BG6 {
  position: absolute;
  margin-top: -94%;
}

.BG7 {
  position: absolute;
  margin-top: -28%;
}

/*Footer*/

.Center {
  margin-top: 20vh;
  margin-bottom: 2vh;

  .line {
    height: 380px;
    width: 4px;
    background-color: #fac64c;
    margin-left: 60%;
  }

  .text1 h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    font-weight: 700;
  }

  .text1 h2 {
    font-size: 1.4em;
    font-weight: 400;
  }

  .text2 h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    font-weight: 700;
  }

  .text2 h2 {
    font-size: 1.4em;
    font-weight: 400;
  }

  .text3 h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    font-weight: 700;
  }

  .text3 h2 {
    font-size: 1.4em;
    font-weight: 400;
  }
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #fac64c;
  float: left;
}

.footer h1 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 565px) {
  .AlgebraTitle {
    h1 {
      font-size: 5em;
      font-weight: 700;
      text-transform: uppercase;
      color: rgb(0, 0, 0);
    }
    h2 {
      color: rgb(0, 0, 0);
    }
  }
}

@media screen and (max-width: 565px) {
  
  .Heading{
    h1{
      font-size: 1em;
    }
  }

  .BG2, .sidewing, .BG3, .BG4{
    display: none;
  }

  .Center {
    margin-top: 150vh;
    margin-bottom: 2vh;
  }
  
  
}
