.nav {
  position: absolute;
  /*background-color: rgb(199, 199, 199);*/
  z-index: 1;
  margin-top: 50px;
}

.arrange {
  padding-top: 4%;
}

.nav-link {
  font-size: 1.3em;
}

.nav-item a:link {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "montserrat", sans-serif;
  font-weight: 100;
  color: white;
  text-align: center;
}

.nav a:visited {
  color: white;
}

.nav .nav-item {
  color: #666;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}

.nav .nav-item:after {
  display: block;
  content: "";
  border-bottom: solid 3px #ffffff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.nav .nav-item:hover:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.Roots h1 {
  font-size: 3em;
}

.Roots .line,
.Roots .line1 {
  width: 800px;
  height: 2px;
  background-color: #5b008c;
}

.back2 {
  margin-top: 300px;
}

.Pagenave {
  text-align: center;
  z-index: 1;
  position: relative;
}

.Pagenave h1 {
  margin-top: 200px;
  color: white;
  font-size: 2em;
}

.Pagenave .contain {
  position: relative;
  padding-left: 40px;
}

.Pagenave .image {
  display: block;
  width: 100%;
  height: auto;
}

.Pagenave .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 270px;
  height: 470px;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-image: url(/Image/stone_age.png);
  background-size: contain;
}

.Pagenave .overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 270px;
  height: 470px;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-image: url(/Image/classical_antiquity.png);
  background-size: contain;
}

.Pagenave .overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 270px;
  height: 470px;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-image: url(/Image/Islamic_Golden_Age.png);
  background-size: contain;
}

.Pagenave .overlay3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 270px;
  height: 470px;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-image: url(/Image/modern_era.png);
  background-size: contain;
}

.Pagenave .overlay4 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 270px;
  height: 470px;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-image: url(/Image/modern_era.png);
  background-size: contain;
}

.Pagenave .contain:hover .overlay {
  opacity: 1;
}

.Pagenave .contain:hover .overlay1 {
  opacity: 1;
}

.Pagenave .contain:hover .overlay2 {
  opacity: 1;
}

.Pagenave .contain:hover .overlay3 {
  opacity: 1;
}

.Pagenave .contain:hover .overlay4 {
  opacity: 1;
}

.BG2 {
  position: relative;
}

.Center {
  margin-top: 20vh;
  margin-bottom: 2vh;
}

.Center .line {
  height: 380px;
  width: 4px;
  background-color: #ff3171;
  margin-left: 60%;
}

.Center .text1 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 700;
}

.Center .text1 h2 {
  font-size: 1.4em;
  font-weight: 400;
}

.Center .text2 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 700;
}

.Center .text2 h2 {
  font-size: 1.4em;
  font-weight: 400;
}

.Center .text3 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 700;
}

.Center .text3 h2 {
  font-size: 1.4em;
  font-weight: 400;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #ff3171;
  float: left;
}

.footer h1 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  font-family: "Montserrat", sans-serif;
}
/*# sourceMappingURL=index.css.map */